.introduction-grid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.int-left-layout{
    margin-right: 7vw;
}

.int-right-layout{
    margin-left: 7vw;
}


.int-text-box{
    color: white;
    box-sizing: border-box;
    z-index: 2;
    width: 390px;
    padding: 5px 20px 5px 20px;

    background: #24272e;
    mix-blend-mode: normal;
    border: 0px solid #424853;;
    border-radius: 18px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}

.int-infographic{

}


.int-title{
    margin: 20px 0px 20px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    text-align: left;
}

.int-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;

    color: #AEAEAE;
}
