
:root {
    --background: #191B1F;
    --button-primary: #0D6EFD;
    --button-border: #15376C;
    --chart: #e8e8e8;
}


.overview-container{
    width: 100%;
    
}

.grid-landing-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lp-text{
    color: white;
    margin: 10vh 10vw 10vh 10vw;
}

.lp-logo{
    margin: 10vh 10vw 10vh 10vw;
}






