
:root {
    --background: #191B1F;
    --button-primary: #0D6EFD;
    --button-border: #15376C;
    --chart: #e8e8e8;
}


.overview-container{
    width: 100%;
    
}

.landing-page-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;

}


.layout-lp-left{
    display: flex;
    flex-direction: column;
    
    
}

.lp-text{
    width:40vw;
    color: white;
    font-size: 2.5rem;
    font-family: 'inter', 'sans-serif';
    font-weight: 600;
    margin: 10vh 10vw 0vh 10vw;
}

.lp-text-poweredbyixec{
    display: block;
    text-align: right;
    margin-right: 15vw;
}

.lp-logo{
    margin: 10vh 10vw 10vh 10vw;
}




